/* GLOBAL */
*{
  box-sizing: border-box;
}

*:focus{
  outline:2px dotted #DE2E54;
  outline-offset: 2px;
}

body{
  padding: 0;
  margin: 0;
  font-family:"Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}


/* SITE HEADER */
.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SITE LOGO */
.site-logo{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
}

.site-logo:hover{
  color: #DE2E54;
}

.site-logo:active{
  opacity: 0.6;
}

.site-logo-img{
  margin-right: 16px;
}


/* SITENAV */
.sitenav{
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.sitenav-list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 32px;
}

.sitenav-link{
  display: block;
  color: #222;
  text-decoration: none;
}

.sitenav-link:hover{
  color: #DE2E54;
}

.sitenav-link:active{
  opacity: 0.6;
}

/* MAIN LINK */
.main-link{
  display: inline-block;
  padding: 10px 22px;
  border: 2px solid  #DE2E54;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  background-color: #DE2E54;
  color: #fff;
  text-decoration: none;
}

.main-link:hover{
  background-color: #fff;
  color: #DE2E54;
}

.main-link:active{
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}