/* GLOBAL */
*{
  box-sizing: border-box;
}

*:focus{
  outline: solid 2px #DE2E54;
}

body{
  padding: 0;
  margin: 0;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}